#promptContainer {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-content: center;
    align-items: center;
}

#promptContainer label {
    display: inline-block;
    width: 80px;
    margin-bottom: 10px;
}

#promptContainer input {
    border: none;
    border-radius: 5px;
    flex: 1;
    font-family: sans-serif;
    margin: 0 10px;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
    resize: none;
    width: 180px;
}

#loginButton {
    padding: 2px 50px;
    cursor: pointer;
}