body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    overflow-y: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 300px minmax(200px, 1fr) 300px;
    height: 100%;
}

@media (max-width: 1000px) {
    .grid {
        grid-template-columns: 300px 1fr;
    }
    .convoInfoContainer {
        display: none;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .convoInfoContainer, .conversationsContainer {
        display: none;
    }
}

.headerCell {
    color: #323c47;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.bodyCell {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    align-items: right;
}

.conversations {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    flex: 1;
    overflow-y: auto;
}

.conversation {
    margin: 10px;
    display: flex;
    align-items: center;
}

.convoImage {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.convoName {
    font-weight: bolder;
}

.lastMessage {
    font-weight: lighter;
    font-size: small;
    color: #323c47;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 40px;
    line-height: 20px;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #efeff4;
    color: #333d48;
    overflow-y: auto;
    overflow-wrap: break-word;
    height: 0px;
}

.messageOther {
    margin: 1px;
    margin-left: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;
    max-width: 70%;
    align-self: flex-start;
}

.messageUser {
    margin: 1px;
    margin-right: 10px;
    padding: 10px;
    background-color: #dbe7eb;
    border-radius: 20px 20px 0px 20px;
    max-width: 70%;
    align-self: flex-end;
}

.messageOther + .messageOther {
    border-top-left-radius: 0px;
}

.messageUser + .messageUser {
    border-top-right-radius: 0px;
}

.messageOther + .messageUser, .messageUser + .messageOther {
    margin-top: 10px;
}

.composeMessage {
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-shrink: 0;
}

.messageButtons {
    flex: 0;
    display: flex;
    gap: 10px;
}

.messageButton {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.textInput {
    background-color: #f7f7f7;
    border: none;
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    resize: none;
    max-height: 100px;
    overflow-y: auto;
}

.microphoneButton {

}

.icon {
    max-width: 20px;
}