/* General reset */
body, html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: 300px minmax(200px, 1fr) 200px;
}

/* Headers */
.header {
    align-items: center;
    background-color: #f7f7f7;
    color: #323c47;
    font-weight: bold;
    height: 30px;
    padding: 10px;
}

.subHeader {
    align-items: center;
    color: #323c47;
    font-weight: bold;
    height: 30px;
    padding: 10px;
}

.left {
    align-items: left;
    text-align: left;
}

.right {
    align-items: right;
    text-align: right;
}

/* Container */
.roomsContainer, .messagesContainer, .roomInfoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow-wrap: break-word;
}

.rooms {
    align-items: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* Rooms */
.roomName {
    font-weight: bolder;
}

.roomDescription {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #323c47;
    display: -webkit-box;
    font-size: small;
    font-weight: lighter;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}

/* Messages */
.messages {
    background-color: #efeff4;
    color: #333d48;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    min-height: 80%;
}

.messageOther, .messageUser {
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0;
    margin: 1px;
    margin-left: 10px;
    max-width: 70%;
    padding: 10px;
}

.messageUser {
    align-self: flex-end;
    background-color: #dbe7eb;
    border-radius: 20px 20px 0 20px;
    margin-right: 10px;
}

.messageOther {
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;  /* Adjusted border-radius */
}

.messageOther + .messageOther {
    border-top-left-radius: 0;
}

.messageUser + .messageUser {
    border-top-right-radius: 0;
}

.messageOther + .messageUser, .messageUser + .messageOther {
    margin-top: 10px;
}

/* Compose message */
.composeMessage {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: 10px;
    padding: 10px;
}

.sendMessageButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.joinRoomButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.textInput {
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    flex: 1;
    font-family: sans-serif;
    margin: 0 10px;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
    resize: none;
}

.icon {
    max-width: 20px;
}

/* Media query */
@media (max-width: 800px) {
    .roomsContainer {
        display: none;
    }
    .grid {
        grid-template-columns: 1fr 200px;
    }
}

@media (max-width: 600px) {
    .roomsContainer {
        display: none;
    }
    .grid {
        grid-template-columns: 1fr;
    }
}
