/* General reset */
body,
html {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}

/* Grid layout */
.grid {
    display: grid;
    grid-template-columns: 300px minmax(200px, 1fr) 200px;
}

/* Headers */
.header {
    align-self: center;
    text-align: center;
    color: #323c47;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    font-size: larger;
}

.subHeader {
    align-self: center;
    color: #323c47;
    font-weight: bold;
    height: 30px;
    padding: 10px;
    margin-top: 10px;
}

.left {
    align-items: left;
    text-align: left;
}

.right {
    align-items: right;
    text-align: right;
}

/* Containers */
.roomsContainer,
.messagesContainer,
.roomInfoContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
    overflow-wrap: break-word;
}

/* Rooms */
.rooms {
    align-items: left;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.room {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.roomDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.roomName {
    color: #323c47;
    font-weight: bold;
    text-align: left;
}

.roomDescription {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #323c47;
    display: -webkit-box;
    font-size: small;
    font-weight: lighter;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}

.roomButtonsContainer {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.openRoomButton,
.joinRoomButton,
.leaveRoomButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
    transition: scale 0.3s ease;
}

.openRoomButton:hover,
.joinRoomButton:hover,
.leaveRoomButton:hover {
    background-color: #d7d7df;
    scale: 110%;
}

/* Messages */
.messages {
    background-color: #efeff4;
    color: #333d48;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    min-height: 80%;
}

.messageOther,
.messageUser {
    background-color: #ffffff;
    margin: 1px;
    margin-left: 10px;
    max-width: 70%;
    padding: 10px;
}

.messageUser {
    align-self: flex-end;
    background-color: #dbe7eb;
    border-radius: 20px 20px 0 20px;
    margin-right: 10px;
}

.messageOther {
    align-self: flex-start;
    background-color: #ffffff;
    border-radius: 20px 20px 20px 0px;
}

.senderInfoUser,
.senderInfoOther {
    padding: 5px;
    font-size: small;
    color: #323c47;
}

.senderInfoUser {
    align-self: right;
    text-align: right;
}

.senderInfoOther {
    align-self: left;
    text-align: left;
}

.messageEvent {
    color: #323c47;
    align-self: center;
    padding: 5px;
}

/* Compose message */
.composeMessage {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-left: 10px;
    padding: 10px;
}

.sendMessageButton {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s ease;
    transition: scale 0.3s ease;
}

.sendMessageButton:hover {
    background-color: #d7d7df;
    scale: 110%;
}

.textInput {
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    flex: 1;
    font-family: sans-serif;
    margin: 0 10px;
    max-height: 100px;
    overflow-y: auto;
    padding: 5px;
    resize: none;
}

/* Room Info */
.roomInfoDescription {
    padding: 10px;
    margin-bottom: 10px;
    overflow-wrap: break-word;
}

.clients {
    padding: 10px;
    overflow-y: auto;
}

.client {
    display: flex;
    align-items: center;
    background-color: #efeff4;
    border-radius: 10px;
    padding: 10px;
    border: 5px;
    margin: 5px;
    max-height: fit-content;
    word-break: break-word;
}

.icon {
    max-width: 20px;
}

/* Media query */
@media (max-width: 1000px) {
    .roomInfoContainer {
        display: none;
    }

    .grid {
        grid-template-columns: 300px 1fr;
    }
}

@media (max-width: 700px) {
    .roomsContainer,
    .roomInfoContainer {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr;
    }
}